
.main-container {
    height: 0px;
    width:0px;
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 6px 4px 22px -4px rgba(94,94,94,0.62); 
    box-shadow: 6px 4px 22px -4px rgba(94,94,94,0.62);
    position: absolute;
    left: 55px;
    z-index: 2;
    transition: all 400ms ease-out;
}

.main-container.active {
    height: 90%;
    width:300px;
    transition: all 400ms ease-out;

}

.main--sub {
    transition: all 800ms ease-out;
    display: flex;
    width: 80%;
    flex-direction: column;
    height:0;
    margin-left: 10px;

    }
    .main--sub.active {
        height: auto;
        transition: all 800ms ease-out;
    }
